@media only screen and (max-width: 375px) {
  body {
    background-color: #3A4B5C;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Header Section Begins */
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    background-color: #395776;
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .logo {
    margin: auto;
    width: 158px;
    height: 120px;
  }

  .heading-1 {
    text-align: center;
    display: block;
  }

  .hrHeading-1 {
    width: 170px;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to left, #3FA6D3, #3672B3);
  }

  .bar {
    margin: auto;
    margin-top: 2em;
    background-color: white;
    width: 235px;
    height: 25px;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .search-icon {
    width: 22px;
    height: 22px;
    padding-top: .5%;
    padding-left: 5%;
  }

  .menu {
    position: absolute;
    padding-left: 50%;
    padding-top: 10%;
    width: 36px;
    height: 36px;
  }

  /*Header Section Ends */

  /*Body Section Beings */

  .body-section {
    margin: auto;
    margin-top: 17em;
    left: 0;
    width: 302px;
    height: 457px;
    background-color: #395776;
    color: white;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .heading-2 {
    text-align: center;
    padding-top: 1%;
    display: block;
  }

  .hrHeading-2 {
    width: 170px;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to left, #3FA6D3, #3672B3);
  }

  .introText {
    text-align: left;
    padding: 5%;
  }

  .exploreBtn {
    background-color: #3672B3;
    color: white;
    margin-top: 2em;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

  .username {
    margin: 8%;
    padding-top: 5%;
    text-align: left;
  }

  .password {
    margin: 8%;
    text-align: left;
  }

  .accountBar {
    margin: 8%;
    margin-bottom: 5%;
    background-color: white;
    width: 200px;
    height: 25px;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .signUp {
    margin-left: 0%;
    padding-right: 25%;
    text-align: left;
    display: inline;
  }

  .help {
    text-align: left;
    display: inline;
  }

  .loginBtn {
    background-color: #3672B3;
    color: white;
    margin-top: 4em;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10% 4px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card-section {
    margin: auto;
    margin-top: 17em;
    padding-bottom: 1.3em;
    left: 0;
    width: 302px;
    height: 139px;
    background-color: #3672B3;
    color: white;
    text-align: center;
    border-radius: 25px;
  }

  .bank-logo {
    margin-left: 0%;
    padding-right: 50%;
    text-align: left;
    width: 36px;
    height: 36px;
  }

  .ammount {
    text-align: left;
    display: inline;
  }

  .card-number {
    text-align: center;
  }

  .exp-date {
    padding-left: 3em;
    text-align: center;
    padding-right: 10%;
  }

  .next {
    width: 36px;
    height: 36px;
    transform: rotate(180deg);
  }

  .last {
    width: 36px;
    height: 36px;
    transform: rotate(180deg);
  }

  .body-section-account-top {
    margin: auto;
    margin-top: 5%;
    width: 302px;
    height: 50px;
    background-color: #395776;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .body-section-account-right-side {
    float: right;
    padding-left: 30%;
    width: 101px;
    height: 100px;
    background-color: #ffffff;
    color: white;
  }

  .body-section-account-left-side {
    float: left;
    width: 110px;
    height: 100px;
    background-color: #395776;
    color: white;
  }

  .transaction-title {
    margin-left: 10%;
    padding-top: .8em;
    text-align: left;
  }

  /*Body Section Ends */

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #66767F;
    color: white;
    text-align: center;
  }

  .home {
    width: 30px;
    height: 30px;
    padding-top: 1em;
    padding-left: 6%;
    padding-right: 5%;
    padding-bottom: 2em;
  }

  .account {
    width: 30px;
    height: 30px;
  }

  .message {
    width: 30px;
    height: 30px;
  }

  .settings {
    width: 30px;
    height: 30px;
  }
}